<!DOCTYPE HTML>
<html>
<head>
    <title>Sprints List</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Start</th>
        <th>End</th>
        <th>In Progress</th>
    </tr>
    <tr data-th-each="sprint : ${sprints}">
        <td><a data-th-href="@{/sprints/{id}(id=${sprint.id})}" data-th-text="${sprint.id}">Id</a></td>
        <td data-th-text="${sprint.start}">Start Date</td>
        <td data-th-text="${sprint.end}">End Date</td>
        <td data-th-text="${sprint.inProgress}">Is In Progress</td>
    </tr>
</table>
<a href="/sprints/new">Add a New Sprint</a>
</body>
</html>
