<!DOCTYPE HTML>
<html>
<head>
    <title data-th-text="'Sprint ' + ${sprint.id}">Sprint</title>
</head>
<body>
<form data-th-action="@{/sprints/{id}(id=${sprint.id})}" data-th-object="${sprint}" data-th-method="put">
    <p>Start: <input type="date" data-th-field="*{start}"/></p>
    <p>End: <input type="date" data-th-field="*{end}"/></p>
    <button type="submit">Update</button>
</form>
<form data-th-action="@{/sprints/{id}(id=${sprint.id})}" data-th-method="delete">
    <button style="color: red" type="submit">Delete</button>
</form>
</body>

</html>
