<!DOCTYPE HTML>
<html>
<head>
    <title>Candidate Bug-Officers</title>
</head>
<body>
<table>
    <thead>Candidate Bug-Officers for Next Sprint</thead>
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Role</th>
        <th>No Selected</th>
    </tr>
    <tr data-th-each="person : ${persons}">
        <td><a data-th-href="@{/persons/{id}(id=${person.id})}" data-th-text="${person.name}">Amir</a></td>
        <td data-th-text="${person.team}">Team Alpha</td>
        <td data-th-text="${person.role}">Backend</td>
        <td data-th-text="${person.noSelected}">2</td>
    </tr>
</table>
<form data-th-action="@{/bug-officers}" method="post" data-th-object="${form}">
    <div data-th-each="person, stat : ${persons}">
        <input hidden data-th-name="|persons[${stat.index}]|" data-th-value="${person.id}"/>
    </div>
    <button type="submit">Confirm</button>
</form>
</body>
</html>
