<!DOCTYPE HTML>
<html>
<head>
    <title>Persons List</title>
</head>
<body>
<table>
    <thead>All Persons</thead>
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Role</th>
        <th>No Selected</th>
        <th>Bug Officer</th>
    </tr>
    <tr data-th-each="person : ${persons}">
        <td><a data-th-href="@{/persons/{id}(id=${person.id})}" data-th-text="${person.name}">Amir</a></td>
        <td data-th-text="${person.team}">Team Alpha</td>
        <td data-th-text="${person.role}">Backend</td>
        <td data-th-text="${person.noSelected}">2</td>
        <td><span data-th-if="${person.isOfficer}">Yes</span></td>
    </tr>
</table>
<ul>
    <li>
        <a href="/persons/new">Add a New Person</a>
    </li>
    <li>
        <a href="/persons/reset">Reset All Officers</a>
    </li>
</ul>
</body>
</html>
